{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" aria-describedby="titleBlog" value="{{ request.form['title'] }}">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Body</label>
      <textarea  name="body" class="form-control" >{{ request.form['body'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
